body {
  background-color: lightgray;
}
img#beach {
  margin: 20px;
  margin-top: -20px;
}
img#amazing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.panel-body {
  font-size: 150%;
}
.panel-title {
  font-size: 200%;
}
.columnquotes {
  float: left;
  width: 33%;
}
.center {
  text-align: center;
}
.price {
  font-size: 140%;
  color: green;
  font-weight: bold;
}
.row {
  margin: 5px;
}
#packages {
  border: 2px solid lightblue;
  padding-top: 20px;
}
